.container{:class => 'small-cont'}
  .header
    - # %h3{:class =>"text-muted"}= @current_user.user_name
    %nav
      %ul{:class => 'nav  pull-right'}
        %li{:role => "presentation",:class => "active"}>
          %a{:href => "/logout",:class=>'btn btn-danger'} Logout
  #scoreboard
    .jumbotron
      %h3= "Welcome to your TypeSpeed score board <span id='currentuser'>#{@current_user.user_name}</span>"
      
      .row{:class=>'text-center'}
        %p.lead Your Current Scores
        .col-sm-4
          .block-results
            %p{:id =>'ccpm'}= @current_user.CPM
          CPM<br>(Characters Per Minute)
        .col-sm-4
          .block-results{:style=>'background-color:green'}
            %p{:id =>'cwpm'}= @current_user.WPM
          WPM<br> (Words Per Minute)
        .col-sm-4
          .block-results{:style => 'background-color:orange'}
            %p= @current_user.times_played
          Times Played
      %p
        %a{:class =>"btn btn-success",:href => "#",:role =>"button",:id => 'playbutton'}= "#{@current_user.times_played > 0 ? 'Replay' : 'Play'}"
        - if @current_user.times_played > 0
          %a{:class =>"btn btn-primary",:href =>"#",:id => "fbsharebutton"} Share Your Scores On Facebook 

  #playing{:style=>'display:none'}
    .row{:class=>'text-center'}
      .col-sm-4
        .block-results
          <p id="cpm">0</p>
        CPM<br>(Characters Per Minute)
      .col-sm-4
        .block-results{:style=>'background-color:green'}
          <p id="wpm">0</p>
        WPM<br> (Words Per Minute)
      .col-sm-4
        .block-results{:style => 'background-color:red'}
          <p id="timer">1:00</p>
        Time Left

    .panel{:class => 'panel-default'}
      .panel-heading
        <a href="#" id="showscore"> Back To Score Board</a> 
      .panel-body 
        %p.lead{:id =>'wordstyped',:class =>'words-box'} Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .text-input
      %input{:type =>"email",:class => "form-control input-lg",:id => "typetest",:placeholder =>"Start Typing"}